src/main/mule/super-ticket-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config
		name="super-ticket-papi-httpListenerConfig">
		<http:listener-connection
			host="0.0.0.0"
			port="${api.port}"
			protocol="HTTPS"
			tlsContext="tlsContext" />
	</http:listener-config>
	<apikit:config
		name="super-ticket-papi-config"
		api="${api.specification}"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<api-gateway:autodiscovery
		apiId="${api.id}"
		ignoreBasePath="true"
		doc:name="API Autodiscovery"
		doc:id="8a583311-6323-4b05-921e-d2ffc0a4ddd0"
		flowRef="super-ticket-papi-main" />
	<tls:context
		name="tlsContext"
		doc:name="TLS Context"
		doc:id="bc77d4d7-0d1e-45e0-b01f-e4fbc64669f6">
		<tls:key-store
			type="${tls.keystore.type}"
			path="${tls.keystore.path}"
			alias="${tls.keystore.alias}"
			keyPassword="${secure::tls.keystore.keyPassword}"
			password="${secure::tls.keystore.password}" />
	</tls:context>
	<configuration-properties doc:name="Configuration properties" doc:id="2250f2f4-7d58-4092-bab2-ae253804ee03" file="properties.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="df8d5768-c56e-42b1-9dc5-d28cc7c6ec3a" file="properties-${env}.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="172e6db1-f627-4889-ace4-eff1c6dcebd1" file="properties-${env}-secure.yaml" key="${securekey}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="super-ticket-papi-main">
		<http:listener
			config-ref="super-ticket-papi-httpListenerConfig"
			path="/api/${api.majorVersion}/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="super-ticket-papi-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="super-ticket-papi-console">
		<http:listener
			config-ref="super-ticket-papi-httpListenerConfig"
			path="/console/${api.majorVersion}/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="super-ticket-papi-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\tickets\(BID):super-ticket-papi-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="BID">attributes.uriParams.'BID'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  ticket: {
    booking_id: "BID7890",
    film_name: "Avengers - Infinity War",
    cinema_name: "Acme IMAX",
    screen_name: "Audi 7",
    seats: "RR - H4",
    imdb_rating: 8.9,
    language: "English",
    date_time: "Tue, 08 Feb, 2022 | 04:26 PM"
  },
  character: {
    id: "MARVEL0002",
    name: "Thanos",
    birthplace: "Titan",
    publisher: "Marvel Comics",
    movies: [
      {
        name: "Avengers Endgame,",
        year: 2019
      }, 
      {
        name: "Guardians of the Galaxy",
        year: 2014
      }
    ]
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
